name: Deploy Web

on:
  push:
    branches:
      - main
    paths:
      - "unihub-web/**"

jobs:
  deploy-web:
    runs-on: ubuntu-latest

    steps:
      # Checkout repo
      - name: Checkout repository
        uses: actions/checkout@v4

      # Configure AWS credentials
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      # Login to ECR
      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      # Build & push Docker image
      - name: Build and push image
        working-directory: unihub-web
        run: |
          ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)
          IMAGE=$ACCOUNT_ID.dkr.ecr.${AWS_REGION}.amazonaws.com/${{ secrets.ECR_REPOSITORY }}
          docker buildx build \
          --platform linux/amd64 \
          --build-arg API_URL=${{ secrets.API_URL }} \
          --build-arg NEXT_PUBLIC_API_URL=${{ secrets.NEXT_PUBLIC_API_URL }} \
          --build-arg NEXT_PUBLIC_MICROSOFT_OAUTH_CLIENT_ID=${{ secrets.NEXT_PUBLIC_MICROSOFT_OAUTH_CLIENT_ID }} \
          -t $IMAGE:latest \
          --push .

      # Trigger App Runner deployment
      - name: Redeploy App Runner
        run: |
          aws apprunner start-deployment \
            --service-arn ${{ secrets.APP_RUNNER_SERVICE_ARN }}
